
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

#Stress{
    position: center;
    margin-left: 300px;
    margin-right: auto;
}
#selfcare{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#ph1{
    display: inline-block;
    margin-left: 300px;
    margin-right: auto;
}
#ph2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
nav {
  background-color: #FF4500;
  /*padding top bottom, not left & right */

 /* padding: 1rem 0rem; */
  width: 100%;
  font-family: Ubuntu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10$;

  }

nav.footer{
  background-color: orange;
  width:40%;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  padding: 30px 10$;

}

  .nav__links {
    list-style: none;
  }

  .nav__links li{
    display: inline-block;
    padding: 0px 20px;

 }
/* Style the links inside the navigation bar */
nav a {
 color: #fefee3ff;
 
 text-align: center;
 padding: 1rem;
 text-decoration: none;
 font-size: 1.1rem;
 }
/* Add a color to the active/current link */
/* <a class="active" ...> */
nav a.active {
 background-color: #BEBFC4;
 color: #040F0F;
 }
/* Change the color of links on hover */
nav a:hover {
 background-color:#EEC643;;
 color: #040F0F;
 }

html {
 font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
 font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman,
serif;
color: #FF4500; 
}

.nav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
/* Calendar CSS */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Monaco, sans-serif;}

.month {
  padding: 40px 25px;
  width: 100%;
  background: #D2691E;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.month h2{
   color: white;
   font-size: 30px;
   text-transform: uppercase;
   letter-spacing: 4px;}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.next_date{
opacity:0.5;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  transition: background-color 0.2s;
}

.days li .active {
  padding: 5px;
  background: #D2691E;
  color: white !important
}

.days li:hover:not(.active){
background-color:#ddd;
border:.2rem solid #FF8C00;
cursor:pointer;
}

input[type=text] {
  border: 2px solid orange;
  border-radius: 4px;
}

#messagebox {
  border: 2px solid orange;
  border-radius: 4px;
}

fieldset {
  border: 2px solid blue;
  border-radius: 4px;
}

input {
  width: 100%;
   padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
  background-color: #B0E0E6;
  color: black;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}
button.index {

    background:linear-gradient(to bottom, #FF4500 100%);
    background-color:#FF4500;
    border-radius:10px;
    border:1px solid #040F0F;
    display:inline-block;
    cursor:pointer;
    color:#040F0F;
    font-family: Ubuntu;
    font-size:25px;
    padding:15px 50px;
    text-decoration:none;
}

/* Calendar CSS */

ul {list-style-type: none;}


/* Month header */
.month {
  padding: 70px 25px;
  width: 96%;
  background: #FFA500 ;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  width: 100%
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #FFA500;
  color: white !important
}

li:hover{
background-color: #F5F5F5;
}

.Jan{
color: FFFFF;
}


/*Form CSS*/
fieldset {
border: 2px solid orange;
  border-radius: 4px;
}

input[type=text] {
  border: 2px solid blue;
  border-radius: 4px;
}

input[type=number] {
  border: 2px solid blue;
  border-radius: 4px;
}

textarea {
  border: 2px solid blue;
  border-radius: 4px;
}

#submit {
  background-color: #87CEFA;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}